#splashScreen img{
	margin:0 auto;
}

#splashScreen{
	position:absolute;
	top:0pxw;
	left:0px;
	height:100%;
	width:100%;
	background-color:#000033;
	background-repeat:no-repeat;
	text-align:center;
}