#promoIMG{
        background :url('../img/bg.png') no-repeat;
        height:40%;
        background-position: 50% 50%;
        background-color: #000033;
}

.ui-content {
    background-color: #003;
    color: white;
    position: absolute;
    background :url('../img/bg.png') no-repeat;
    min-height: 100%;
    background-position: 50% 50%;
    background-color: #000033;
}